/*Header Desktop Styles*/ 
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/OpenSans_Condensed-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/NotoSans_Condensed-Regular.woff2') format('woff2');
}
:root{
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Noto Sans", sans-serif;
  /* Escala modular de tipografía con clamp para hacerla responsive */
  --font-size-xs: clamp(0.875rem, 1vw + 0.5rem, 1rem);  /* 14px - 16px */
  --font-size-sm: clamp(1rem, 1.2vw + 0.5rem, 1.25rem);  /* 16px - 20px */
  --font-size-md: clamp(1.25rem, 1.5vw + 0.5rem, 1.5rem); /* 20px - 24px */
  --font-size-lg: clamp(1.5rem, 2vw + 0.5rem, 2rem);     /* 24px - 32px */
  --font-size-xl: clamp(2rem, 2.5vw + 0.5rem, 2.5rem);   /* 32px - 40px */
  --font-size-xxl: clamp(2.5rem, 3vw + 0.5rem, 3.5rem);  /* 40px - 56px */

}

@media only screen and (min-width: 1280px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
                        
  
    }
    a{
        text-decoration: none ;
    }
    picture{
       margin:0;
       padding: 0; 
       display: block;
    }
    .main_header  nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: white; /* Fondo blanco */
        box-shadow: 0px 3px 25px -9px gray; /* Sombra para destacar el navbar */
    }
    .main_header nav .logo img {
        height: 50px;
    }
    .main_header nav ul {
        list-style: none;
        display: flex;
        margin-left: auto;
    }
    .main_header nav ul li {
        margin-left: 20px;
    }
    .main_header  nav ul li a {
        color: #33AFB9; /* Color azul del texto */
        background-color: white; /* Fondo blanco por defecto */
        text-decoration: none;
        font-size: 18px;
        padding: 10px 20px; /* Añade más espacio dentro del botón */
        border-radius: 15px;
        transition: background-color 0.3s, color 0.3s;
        border: 1px solid #33AFB9; /* Bordes azules */
    }
    .main_header nav ul li a:hover {
        background-color: #33AFB9; /* Fondo azul al hacer hover */
        color: white; /* Texto blanco al hacer hover */
    }
    /* Estilos cuando un enlace está activo (seleccionado) */
    .main_header nav ul li a.active {
        background-color: #33AFB9; /* Fondo azul cuando está activo */
        color: white; /* Letras blancas cuando está activo */
    }
    /* Ocultar menú en móvil y mostrar botón */
    .menu-toggle {
        display: none;
        font-size: 30px;
        color: black; /* Color del ícono de menú hamburguesa */
        cursor: pointer;
    }
}    

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
}
@media only screen and (min-width: 1920px) and (max-width: 2559px) {
}
/* @media only screen and (min-width: 1440px) {
    /* nav ul li {
        margin-left: 20px; /* Añade separación entre los botones 
    } 
} */