
/*About us section*/
    p{
        line-height: 2.5rem; 
        letter-spacing: 0.01688rem;
    }
    #about-container{
        width: 100%;
        height: 250vh;
        display: grid;
        grid-template-rows: 40% 60%;
        grid-template-columns: repeat(2, 1fr);
        text-align: justify;
    }
    #compromise_section{
        width: 100%;
        height: 100%;
        margin: 7.5vh 0 0 0;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #compromise_text{
        display: block;
        width: 90%;
        height: 30%;
        margin: 7.5vh auto auto auto;
    }
    #img-container{
        display: flex;
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
    }
    #compromise_img{
        width: 70%;
        height: 100%;
    }
    #history_section{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-flow: column;
    }
    #mission_vision_section{
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-flow: column;
    }
    #history_section_text{
        margin: 0 5% 0 10%;
    }
    #mission_vision_section_text{
        margin: 0 10% 0 5%;
    }
    #history_section_text, #mission_vision_section_text{
        width: 85%;
    }
    #history_section, #mission_vision_section {
        height: 100%;
    }
    #history_section h2, #mission_vision_section h2, #history_section p, #mission_vision_section p{
        width: 100%;
    }
    .mission-vision{
        font-weight: bold;
    }
    #history_section p, #mission_vision_section p{
        margin-bottom: 1.25em;
    }
    #history_section h2, #mission_vision_section h2, #compromise_section h2{
        margin-bottom: 1rem;
    }